// $color-purple: #9000FF;
// $color-purple-dark: #6D12B3;
// $color-purple-light: #992ae6;
// $color-orange: #FFA919;
// $color-green: #14CC5E;
// $color-green-dark: #09B34D

// $color-purple: #6a1b9a;
// $color-orange: #ffa726;
// $color-green: #b2ff59;

$color-blue-grey: #2e4057;
$color-blue: #048ba8;
$color-orange: #f18f01;
$color-green: #b0d137;

$color-purple-light: #844dad;
$color-purple: #54217c;
$color-purple-dark: #250050;